@page "/services"
<div class="my-5">
    <div class="d-flex justify-content-center">
        <h1 style="font-size:40px; font-weight:600; color:#000235;" class="m-1">Services</h1>
        <img src="https://cdn.pixabay.com/photo/2012/05/04/10/57/gear-47203_640.png" style="width:57.47px; height:60px; top:571px;left:809px;" class="m-1"/>
    </div>
    <div class="services-container">   
            <div class="consultations-card shadow p-3 rounded-3">
    
               
                    <img src="https://cdn.pixabay.com/photo/2013/07/12/13/58/stethoscope-147700_640.png" style="height:200px;" class="p-4"/>
                
                <div class="card-text">
                    <h2 class="text-black">Online Consultations</h2>
                    <p style="color:#000;">
                        online doctor consultations are a convenient, efficient,
                        and secure way to access healthcare services. They have
                        become an integral part of modern healthcare, offering
                        numerous benefits to both patients and healthcare providers,
                        ultimately improving the overall quality of healthcare delivery.
                    </p>
                </div>
             </div>
             <div class="ghost-card2"></div>
        <div class="ghost-card2"></div>

        <div class="Appointment-card shadow p-3 rounded-3">


                     <img src="https://cdn.pixabay.com/photo/2013/07/12/13/46/clock-147257_640.png" style="height:200px;" class="p-4" />
                    
                    <div class="card-text">
                        <h2 class="text-black">24/7 Appointment Booking</h2>
                        <p style="color:#000235;">
                    In today's fast-paced world, finding the time to
                    schedule and manage doctor appointments can be a 
                    daunting task. That's where MediPortal comes in.
                    Our cutting-edge online doctor appointment booking 
                    service is designed with your convenience in mind, 
                    making healthcare access easier and more efficient 
                    than ever before.
                        </p>
                    </div>
                </div>
             
           
        <div class="Records-card shadow p-3 rounded-3">


            <img src="https://cdn.pixabay.com/photo/2016/06/24/02/35/ehr-1476525_1280.png" style="height:200px;" class="p-4" />

            <div class="card-text">
                <h2 class="text-black">Records' Keeping'</h2>
                <p style="color:#000235;">
                    Keeping track of your medical history and appointments
                    has never been simpler. MediPortal offers secure digital 
                    record-keeping capabilities, allowing you to access your health 
                    records anytime, anywhere. No more rifling through stacks of paper
                    documents or trying to remember past diagnoses and treatments.
                </p>
            </div>
        </div>

        <div class="ghost-card3"></div>
    </div>
      
</div>
   
   


@code {

}
