@inherits LayoutComponentBase

<div class="Main-Page">
    <div class="Main-Container">
       <NavMenu/>
       <main class="px-4">  
           <article class="content px-4">
                @Body
                <Footer/>
            </article>
                 
       </main>
      
    </div>
</div>